#### Universidade Federal do Ceará (Centro de Ciências)
#### CK0223 – Mineração de Dados - 2021.2
**Aluno:** **Francisco Luan Rodrigues De Sousa, matrícula - 471459**

### Trabalho 1: Extração de Dados¶
### - Dataset relacionado a área da Cultura.

In [15]:
#Dataset:
#SCRAPING USANDO DADOS EM DOCUMENTOS DISPONIBILIZADOS PELO SISTEMA DE APOIO ÀS LEIS DE INCENTIVO À CULTURA EM: "http://sistemas.cultura.gov.br/salicnet/Salicnet/Salicnet.php#"
# - Contendo dados de pontos de cultura(Registos, UF e cidade)
# - Comparativo dos projetos apresentados, apoiados e aprovados pelo  Fundo Nacional Da Cultura e Macenato.(Ano, Quantidade e Valores)
# - Icentivadores (Ano, tipo de pessoa e região)
# - Maiores preponentes

In [16]:
#Importanto as bibliotecas para fazer os Scraping 
#Tabula é capaz de  ler tabelas de um PDF e convertê-las em um DataFrame do pandas. 
import  tabula
import pandas as pd

In [17]:
#Scraping: comparativo dos projetos
pdf_path3  =  "Comparativo por Ano.pdf"
dfs  =  tabula.read_pdf ( 
    pdf_path3 , 
    pages = "all" , 
    lattice = True , 
    pandas_options = { "header" :  [ 0 ]}, 
    area = [ 0 ,  0 ,  100 ,  100 ], 
    relative_area = True , 
    multiple_tables = False , 
) 
dfs [ 0 ]

,Mecenato e Fundo Nacional da Cultura07/12/2021\rComparativo por Ano,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Ano,Qtde\rApres.,Qtde\rAprov.,Qtde\rApoio.,Vl.Apresentado,Vl. Aprovado,Vl. Apoiado
1,1993,19,10,2,"18.710.859,87","13.969.236,77","21.212,78"
2,1994,74,91,7,"98.228.196,17","114.775.297,55","533.751,57"
3,1995,1.378,69,153,"767.885.258,48","96.043.243,26","41.668.264,65"
4,1996,3.773,2.552,624,"2.130.370.530,80","1.612.596.208,73","195.030.104,41"
5,1997,7.535,3.011,1.299,"3.694.960.473,06","1.528.013.048,41","330.880.156,33"
6,1998,6.559,3.669,1.258,"3.005.725.978,41","1.590.098.542,21","310.451.086,40"
7,1999,8.281,3.346,1.221,"3.403.419.394,93","1.495.505.214,92","311.002.975,35"
8,2000,6.406,3.174,1.292,"2.710.416.568,51","1.382.569.111,80","461.049.131,24"
9,2001,8.393,2.840,1.540,"3.352.307.615,43","1.359.242.185,05","514.264.879,32"
10,2002,8.969,4.476,1.527,"4.125.303.358,95","2.271.888.163,89","483.168.167,75"
11,2003,7.163,4.222,1.543,"3.901.944.691,33","1.937.670.619,59","461.157.590,14"
12,2004,7.637,5.304,2.042,"5.034.932.459,30","2.536.717.914,78","592.605.509,33"
13,2005,12.553,6.739,2.476,"7.863.836.750,71","3.251.886.180,95","860.504.352,09"
14,2006,9.766,6.997,2.936,"6.127.225.022,67","3.489.017.305,99","933.518.364,47"
15,2007,11.972,6.877,3.236,"7.691.312.692,74","3.496.332.414,96","1.233.863.525,33"
16,2008,10.816,7.214,3.169,"9.199.053.112,41","4.174.385.320,62","1.103.070.959,02"
17,2009,9.192,5.080,3.042,"8.914.605.754,66","3.159.716.578,15","1.144.261.125,55"
18,2010,13.579,7.880,3.419,"7.656.085.152,83","5.468.577.619,61","1.459.526.050,25"
19,2011,14.068,7.791,3.754,"6.942.048.972,04","5.470.917.118,81","1.360.890.848,02"
20,2012,10.016,6.440,3.595,"7.019.764.468,42","5.475.258.279,82","1.308.738.835,31"
21,2013,11.560,6.466,3.487,"8.464.734.838,24","5.578.945.000,78","1.303.852.981,19"
22,2014,14.431,6.072,3.332,"7.372.075.810,22","5.788.812.138,17","1.357.425.305,16"
23,2015,11.290,5.484,3.164,"6.666.853.847,94","5.274.236.863,19","1.251.385.667,97"
24,2016,5.108,4.525,2.839,"5.708.891.014,77","3.914.577.255,72","1.164.729.607,06"
25,2017,9.425,5.457,2.878,"5.720.867.901,00","6.044.372.709,42","1.203.581.562,18"
26,2018,5.957,5.514,3.249,"6.590.299.665,15","6.640.934.772,62","1.314.875.869,90"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2019,4.134,3.821,3.321,"3.722.386.257,94","3.280.169.678,80","1.492.709.770,33"
29,2020,4.693,4.180,3.242,"3.898.419.124,37","3.276.729.876,94","1.497.861.482,13"
30,2021,2.200,1.866,1.846,"1.481.524.437,70","1.185.515.643,43","605.361.747,45"
31,Total\rGeral,226.947,131.167,65.493,"143.284.190.209,00","90.909.473.545,00","24.297.990.882,70"
32,NaN,Lei Rouanet (a partir de 2003),NaN,NaN,NaN,NaN,NaN

In [18]:
df = pd.DataFrame(dfs[0])

In [19]:
df

,Mecenato e Fundo Nacional da Cultura07/12/2021\rComparativo por Ano,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Ano,Qtde\rApres.,Qtde\rAprov.,Qtde\rApoio.,Vl.Apresentado,Vl. Aprovado,Vl. Apoiado
1,1993,19,10,2,"18.710.859,87","13.969.236,77","21.212,78"
2,1994,74,91,7,"98.228.196,17","114.775.297,55","533.751,57"
3,1995,1.378,69,153,"767.885.258,48","96.043.243,26","41.668.264,65"
4,1996,3.773,2.552,624,"2.130.370.530,80","1.612.596.208,73","195.030.104,41"
5,1997,7.535,3.011,1.299,"3.694.960.473,06","1.528.013.048,41","330.880.156,33"
6,1998,6.559,3.669,1.258,"3.005.725.978,41","1.590.098.542,21","310.451.086,40"
7,1999,8.281,3.346,1.221,"3.403.419.394,93","1.495.505.214,92","311.002.975,35"
8,2000,6.406,3.174,1.292,"2.710.416.568,51","1.382.569.111,80","461.049.131,24"
9,2001,8.393,2.840,1.540,"3.352.307.615,43","1.359.242.185,05","514.264.879,32"
10,2002,8.969,4.476,1.527,"4.125.303.358,95","2.271.888.163,89","483.168.167,75"
11,2003,7.163,4.222,1.543,"3.901.944.691,33","1.937.670.619,59","461.157.590,14"
12,2004,7.637,5.304,2.042,"5.034.932.459,30","2.536.717.914,78","592.605.509,33"
13,2005,12.553,6.739,2.476,"7.863.836.750,71","3.251.886.180,95","860.504.352,09"
14,2006,9.766,6.997,2.936,"6.127.225.022,67","3.489.017.305,99","933.518.364,47"
15,2007,11.972,6.877,3.236,"7.691.312.692,74","3.496.332.414,96","1.233.863.525,33"
16,2008,10.816,7.214,3.169,"9.199.053.112,41","4.174.385.320,62","1.103.070.959,02"
17,2009,9.192,5.080,3.042,"8.914.605.754,66","3.159.716.578,15","1.144.261.125,55"
18,2010,13.579,7.880,3.419,"7.656.085.152,83","5.468.577.619,61","1.459.526.050,25"
19,2011,14.068,7.791,3.754,"6.942.048.972,04","5.470.917.118,81","1.360.890.848,02"
20,2012,10.016,6.440,3.595,"7.019.764.468,42","5.475.258.279,82","1.308.738.835,31"
21,2013,11.560,6.466,3.487,"8.464.734.838,24","5.578.945.000,78","1.303.852.981,19"
22,2014,14.431,6.072,3.332,"7.372.075.810,22","5.788.812.138,17","1.357.425.305,16"
23,2015,11.290,5.484,3.164,"6.666.853.847,94","5.274.236.863,19","1.251.385.667,97"
24,2016,5.108,4.525,2.839,"5.708.891.014,77","3.914.577.255,72","1.164.729.607,06"
25,2017,9.425,5.457,2.878,"5.720.867.901,00","6.044.372.709,42","1.203.581.562,18"
26,2018,5.957,5.514,3.249,"6.590.299.665,15","6.640.934.772,62","1.314.875.869,90"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2019,4.134,3.821,3.321,"3.722.386.257,94","3.280.169.678,80","1.492.709.770,33"
29,2020,4.693,4.180,3.242,"3.898.419.124,37","3.276.729.876,94","1.497.861.482,13"
30,2021,2.200,1.866,1.846,"1.481.524.437,70","1.185.515.643,43","605.361.747,45"
31,Total\rGeral,226.947,131.167,65.493,"143.284.190.209,00","90.909.473.545,00","24.297.990.882,70"
32,NaN,Lei Rouanet (a partir de 2003),NaN,NaN,NaN,NaN,NaN

In [ ]:
#Apartir daqui o objetivo é limpar os dados o máximo que puder ou que eu souber haha. 
#Objetivo maior será retirar o cabeçalho, colocar os valores NaN = 0 e renomear as colunas que o scraping conseguiu.
#Salvar em csv.

In [20]:
df.iloc[2]
df.loc[20]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
Comparativo por Ano  31 non-null     object
 1   Unnamed: 1                                                          32 non-null     object
 2   Unnamed: 2                                                          31 non-null     object
 3   Unnamed: 3                                                          31 non-null     object
 4   Unnamed: 4                                                          31 non-null     object
 5   Unnamed: 5                                                          31 non-null     object
 6   Unnamed: 6                                                          31 non-null     object
dtypes: object(7)
memory usage: 1.9+ KB

In [21]:
new_header = df.iloc[0] # pega a primeira linha para o cabeçalho
df = df[1:] #captura os dados menos a linha do cabecalho
df.columns = new_header #definir a linha do cabeçalho como o cabeçalho df

In [22]:
df

,Ano,Qtde\rApres.,Qtde\rAprov.,Qtde\rApoio.,Vl.Apresentado,Vl. Aprovado,Vl. Apoiado
1,1993,19,10,2,"18.710.859,87","13.969.236,77","21.212,78"
2,1994,74,91,7,"98.228.196,17","114.775.297,55","533.751,57"
3,1995,1.378,69,153,"767.885.258,48","96.043.243,26","41.668.264,65"
4,1996,3.773,2.552,624,"2.130.370.530,80","1.612.596.208,73","195.030.104,41"
5,1997,7.535,3.011,1.299,"3.694.960.473,06","1.528.013.048,41","330.880.156,33"
6,1998,6.559,3.669,1.258,"3.005.725.978,41","1.590.098.542,21","310.451.086,40"
7,1999,8.281,3.346,1.221,"3.403.419.394,93","1.495.505.214,92","311.002.975,35"
8,2000,6.406,3.174,1.292,"2.710.416.568,51","1.382.569.111,80","461.049.131,24"
9,2001,8.393,2.840,1.540,"3.352.307.615,43","1.359.242.185,05","514.264.879,32"
10,2002,8.969,4.476,1.527,"4.125.303.358,95","2.271.888.163,89","483.168.167,75"
11,2003,7.163,4.222,1.543,"3.901.944.691,33","1.937.670.619,59","461.157.590,14"
12,2004,7.637,5.304,2.042,"5.034.932.459,30","2.536.717.914,78","592.605.509,33"
13,2005,12.553,6.739,2.476,"7.863.836.750,71","3.251.886.180,95","860.504.352,09"
14,2006,9.766,6.997,2.936,"6.127.225.022,67","3.489.017.305,99","933.518.364,47"
15,2007,11.972,6.877,3.236,"7.691.312.692,74","3.496.332.414,96","1.233.863.525,33"
16,2008,10.816,7.214,3.169,"9.199.053.112,41","4.174.385.320,62","1.103.070.959,02"
17,2009,9.192,5.080,3.042,"8.914.605.754,66","3.159.716.578,15","1.144.261.125,55"
18,2010,13.579,7.880,3.419,"7.656.085.152,83","5.468.577.619,61","1.459.526.050,25"
19,2011,14.068,7.791,3.754,"6.942.048.972,04","5.470.917.118,81","1.360.890.848,02"
20,2012,10.016,6.440,3.595,"7.019.764.468,42","5.475.258.279,82","1.308.738.835,31"
21,2013,11.560,6.466,3.487,"8.464.734.838,24","5.578.945.000,78","1.303.852.981,19"
22,2014,14.431,6.072,3.332,"7.372.075.810,22","5.788.812.138,17","1.357.425.305,16"
23,2015,11.290,5.484,3.164,"6.666.853.847,94","5.274.236.863,19","1.251.385.667,97"
24,2016,5.108,4.525,2.839,"5.708.891.014,77","3.914.577.255,72","1.164.729.607,06"
25,2017,9.425,5.457,2.878,"5.720.867.901,00","6.044.372.709,42","1.203.581.562,18"
26,2018,5.957,5.514,3.249,"6.590.299.665,15","6.640.934.772,62","1.314.875.869,90"
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2019,4.134,3.821,3.321,"3.722.386.257,94","3.280.169.678,80","1.492.709.770,33"
29,2020,4.693,4.180,3.242,"3.898.419.124,37","3.276.729.876,94","1.497.861.482,13"
30,2021,2.200,1.866,1.846,"1.481.524.437,70","1.185.515.643,43","605.361.747,45"
31,Total\rGeral,226.947,131.167,65.493,"143.284.190.209,00","90.909.473.545,00","24.297.990.882,70"
32,NaN,Lei Rouanet (a partir de 2003),NaN,NaN,NaN,NaN,NaN

In [23]:
df = df.fillna(0)

In [24]:
df.drop(27, axis = 0, inplace = True)

In [25]:
df.drop(32, axis = 0, inplace = True)

In [26]:
df.rename(columns={'Total\rGeral': 'Total Geral'}, inplace = True)

In [28]:
df['Ano'].replace('Total\rGeral', 'Total Geral', inplace = True)

In [29]:
df = df.rename({'Qtde\rApres.': 'Quantidade Apresentada'}, axis = 1)
df = df.rename({'Qtde\rAprov.': 'Quantidade Aprovada'}, axis = 1)
df = df.rename({'Qtde\rApoio.': 'Quantidade Apoiada'}, axis = 1)

In [30]:
df

,Ano,Quantidade Apresentada,Quantidade Aprovada,Quantidade Apoiada,Vl.Apresentado,Vl. Aprovado,Vl. Apoiado
1,1993,19,10,2,"18.710.859,87","13.969.236,77","21.212,78"
2,1994,74,91,7,"98.228.196,17","114.775.297,55","533.751,57"
3,1995,1.378,69,153,"767.885.258,48","96.043.243,26","41.668.264,65"
4,1996,3.773,2.552,624,"2.130.370.530,80","1.612.596.208,73","195.030.104,41"
5,1997,7.535,3.011,1.299,"3.694.960.473,06","1.528.013.048,41","330.880.156,33"
6,1998,6.559,3.669,1.258,"3.005.725.978,41","1.590.098.542,21","310.451.086,40"
7,1999,8.281,3.346,1.221,"3.403.419.394,93","1.495.505.214,92","311.002.975,35"
8,2000,6.406,3.174,1.292,"2.710.416.568,51","1.382.569.111,80","461.049.131,24"
9,2001,8.393,2.840,1.540,"3.352.307.615,43","1.359.242.185,05","514.264.879,32"
10,2002,8.969,4.476,1.527,"4.125.303.358,95","2.271.888.163,89","483.168.167,75"
11,2003,7.163,4.222,1.543,"3.901.944.691,33","1.937.670.619,59","461.157.590,14"
12,2004,7.637,5.304,2.042,"5.034.932.459,30","2.536.717.914,78","592.605.509,33"
13,2005,12.553,6.739,2.476,"7.863.836.750,71","3.251.886.180,95","860.504.352,09"
14,2006,9.766,6.997,2.936,"6.127.225.022,67","3.489.017.305,99","933.518.364,47"
15,2007,11.972,6.877,3.236,"7.691.312.692,74","3.496.332.414,96","1.233.863.525,33"
16,2008,10.816,7.214,3.169,"9.199.053.112,41","4.174.385.320,62","1.103.070.959,02"
17,2009,9.192,5.080,3.042,"8.914.605.754,66","3.159.716.578,15","1.144.261.125,55"
18,2010,13.579,7.880,3.419,"7.656.085.152,83","5.468.577.619,61","1.459.526.050,25"
19,2011,14.068,7.791,3.754,"6.942.048.972,04","5.470.917.118,81","1.360.890.848,02"
20,2012,10.016,6.440,3.595,"7.019.764.468,42","5.475.258.279,82","1.308.738.835,31"
21,2013,11.560,6.466,3.487,"8.464.734.838,24","5.578.945.000,78","1.303.852.981,19"
22,2014,14.431,6.072,3.332,"7.372.075.810,22","5.788.812.138,17","1.357.425.305,16"
23,2015,11.290,5.484,3.164,"6.666.853.847,94","5.274.236.863,19","1.251.385.667,97"
24,2016,5.108,4.525,2.839,"5.708.891.014,77","3.914.577.255,72","1.164.729.607,06"
25,2017,9.425,5.457,2.878,"5.720.867.901,00","6.044.372.709,42","1.203.581.562,18"
26,2018,5.957,5.514,3.249,"6.590.299.665,15","6.640.934.772,62","1.314.875.869,90"
28,2019,4.134,3.821,3.321,"3.722.386.257,94","3.280.169.678,80","1.492.709.770,33"
29,2020,4.693,4.180,3.242,"3.898.419.124,37","3.276.729.876,94","1.497.861.482,13"
30,2021,2.200,1.866,1.846,"1.481.524.437,70","1.185.515.643,43","605.361.747,45"
31,Total Geral,226.947,131.167,65.493,"143.284.190.209,00","90.909.473.545,00","24.297.990.882,70"

In [31]:
df.to_csv('Comparativodosprojetos.csv', sep='\t', encoding='utf-8')

In [ ]:
#################################################################################################################

In [32]:
#Scraping: Icentivadores

In [33]:
#Importanto as bibliotecas para fazer os Scraping 
#Tabula é capaz de  ler tabelas de um PDF e convertê-las em um DataFrame do pandas. 
import  tabula
import pandas as pd

In [34]:
pdf_path = "incentiv.pdf"

dfs1 = tabula.read_pdf(pdf_path, stream=True)
# read_pdf returns list of DataFrames
print(len(dfs))
dfs1[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

1

,RESUMO,1.993,1.994,1.995,1.996,1.997,1.998,1.999,2.000,2.001,...,2.013,2.014,2.015,2.016,2.017,2.018,2.019,2.020,2.021,Total
0,FÍSICA,NaN,24.0,181.0,1.438,1.790,1.867,3.531,2.998,3.215,...,7.917,9.645,12.368,12.071,11.722,13.804,13.495,11.906,1.340,228.134
1,Centro Oeste,NaN,NaN,2.0,52.000,18.000,27.000,92.000,19.000,11.000,...,145.000,822.000,1.209,1.004,882.000,1.120,555.000,451.000,60.000,37.715
2,Nordeste,NaN,NaN,NaN,21.000,23.000,37.000,60.000,19.000,25.000,...,104.000,250.000,481.000,320.000,396.000,603.000,524.000,318.000,56.000,10.137
3,Norte,NaN,NaN,NaN,1.000,NaN,17.000,30.000,4.000,4.000,...,20.000,63.000,128.000,84.000,80.000,111.000,75.000,61.000,9.000,2.080
4,Sudeste,NaN,NaN,31.0,503.000,974.000,1.322,1.659,1.395,1.727,...,6.616,7.305,8.952,9.309,8.782,9.875,9.794,9.207,938.000,139.386
5,Sul,NaN,24.0,148.0,861.000,775.000,464.000,1.690,1.561,1.448,...,1.032,1.205,1.598,1.354,1.582,2.095,2.547,1.869,277.000,38.816
6,JURÍDICA,2.0,19.0,69.0,732.000,1.123,1.065,1.249,1.334,1.173,...,3.469,3.507,3.385,3.067,3.354,3.734,3.989,3.598,1.831,62.080
7,Centro Oeste,1.0,1.0,7.0,37.000,39.000,53.000,67.000,75.000,56.000,...,135.000,130.000,125.000,124.000,117.000,149.000,164.000,184.000,62.000,2.642
8,Nordeste,NaN,NaN,2.0,42.000,76.000,44.000,72.000,76.000,61.000,...,208.000,212.000,213.000,200.000,227.000,277.000,282.000,270.000,174.000,4.118
9,Norte,NaN,NaN,NaN,4.000,3.000,30.000,11.000,19.000,20.000,...,53.000,71.000,50.000,56.000,49.000,74.000,73.000,75.000,40.000,1.032
10,Sudeste,1.0,15.0,44.0,443.000,789.000,742.000,812.000,870.000,749.000,...,1.792,1.786,1.757,1.611,1.744,1.808,1.912,1.773,821.000,34.461
11,Sul,NaN,3.0,16.0,206.000,216.000,196.000,287.000,294.000,287.000,...,1.281,1.308,1.240,1.076,1.217,1.426,1.558,1.296,734.000,19.827
12,Total Geral,2.0,43.0,250.0,2.170,2.913,2.932,4.780,4.332,4.388,...,11.386,13.152,15.753,15.138,15.076,17.538,17.484,15.504,3.171,290.214

In [35]:
df1 = pd.DataFrame(dfs1[0])

In [36]:
df1

,RESUMO,1.993,1.994,1.995,1.996,1.997,1.998,1.999,2.000,2.001,...,2.013,2.014,2.015,2.016,2.017,2.018,2.019,2.020,2.021,Total
0,FÍSICA,NaN,24.0,181.0,1.438,1.790,1.867,3.531,2.998,3.215,...,7.917,9.645,12.368,12.071,11.722,13.804,13.495,11.906,1.340,228.134
1,Centro Oeste,NaN,NaN,2.0,52.000,18.000,27.000,92.000,19.000,11.000,...,145.000,822.000,1.209,1.004,882.000,1.120,555.000,451.000,60.000,37.715
2,Nordeste,NaN,NaN,NaN,21.000,23.000,37.000,60.000,19.000,25.000,...,104.000,250.000,481.000,320.000,396.000,603.000,524.000,318.000,56.000,10.137
3,Norte,NaN,NaN,NaN,1.000,NaN,17.000,30.000,4.000,4.000,...,20.000,63.000,128.000,84.000,80.000,111.000,75.000,61.000,9.000,2.080
4,Sudeste,NaN,NaN,31.0,503.000,974.000,1.322,1.659,1.395,1.727,...,6.616,7.305,8.952,9.309,8.782,9.875,9.794,9.207,938.000,139.386
5,Sul,NaN,24.0,148.0,861.000,775.000,464.000,1.690,1.561,1.448,...,1.032,1.205,1.598,1.354,1.582,2.095,2.547,1.869,277.000,38.816
6,JURÍDICA,2.0,19.0,69.0,732.000,1.123,1.065,1.249,1.334,1.173,...,3.469,3.507,3.385,3.067,3.354,3.734,3.989,3.598,1.831,62.080
7,Centro Oeste,1.0,1.0,7.0,37.000,39.000,53.000,67.000,75.000,56.000,...,135.000,130.000,125.000,124.000,117.000,149.000,164.000,184.000,62.000,2.642
8,Nordeste,NaN,NaN,2.0,42.000,76.000,44.000,72.000,76.000,61.000,...,208.000,212.000,213.000,200.000,227.000,277.000,282.000,270.000,174.000,4.118
9,Norte,NaN,NaN,NaN,4.000,3.000,30.000,11.000,19.000,20.000,...,53.000,71.000,50.000,56.000,49.000,74.000,73.000,75.000,40.000,1.032
10,Sudeste,1.0,15.0,44.0,443.000,789.000,742.000,812.000,870.000,749.000,...,1.792,1.786,1.757,1.611,1.744,1.808,1.912,1.773,821.000,34.461
11,Sul,NaN,3.0,16.0,206.000,216.000,196.000,287.000,294.000,287.000,...,1.281,1.308,1.240,1.076,1.217,1.426,1.558,1.296,734.000,19.827
12,Total Geral,2.0,43.0,250.0,2.170,2.913,2.932,4.780,4.332,4.388,...,11.386,13.152,15.753,15.138,15.076,17.538,17.484,15.504,3.171,290.214

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RESUMO  13 non-null     object
 1   1.993   4 non-null      float64
 2   1.994   7 non-null      float64
 3   1.995   10 non-null     float64
 4   1.996   13 non-null     float64
 5   1.997   12 non-null     float64
 6   1.998   13 non-null     float64
 7   1.999   13 non-null     float64
 8   2.000   13 non-null     float64
 9   2.001   13 non-null     float64
 10  2.002   13 non-null     float64
 11  2.003   13 non-null     float64
 12  2.004   13 non-null     float64
 13  2.005   13 non-null     float64
 14  2.006   13 non-null     float64
 15  2.007   13 non-null     float64
 16  2.008   13 non-null     float64
 17  2.009   13 non-null     float64
 18  2.010   13 non-null     float64
 19  2.011   13 non-null     float64
 20  2.012   13 non-null     float64
 21  2.013   13 non-null     float64
 22  2.014   13 non-null     float64
 23  2.015   13 non-null     float64
 24  2.016   13 non-null     float64
 25  2.017   13 non-null     float64
 26  2.018   13 non-null     float64
 27  2.019   13 non-null     float64
 28  2.020   13 non-null     float64
 29  2.021   13 non-null     float64
 30  Total   13 non-null     float64
dtypes: float64(30), object(1)
memory usage: 3.3+ KB

In [69]:
#Apartir daqui o objetivo é limpar os dados o máximo que puder ou que eu souber haha. 
#Objetivo maior será retirar o cabeçalho, colocar os valores NaN = 0 e renomear as colunas que o scraping conseguiu.
#Salvar em csv.

In [39]:
df1.isnull().sum()

RESUMO    0
1.993     9
1.994     6
1.995     3
1.996     0
1.997     1
1.998     0
1.999     0
2.000     0
2.001     0
2.002     0
2.003     0
2.004     0
2.005     0
2.006     0
2.007     0
2.008     0
2.009     0
2.010     0
2.011     0
2.012     0
2.013     0
2.014     0
2.015     0
2.016     0
2.017     0
2.018     0
2.019     0
2.020     0
2.021     0
Total     0
dtype: int64

In [40]:
df1 = df1.fillna(0)

In [41]:
df1

,RESUMO,1.993,1.994,1.995,1.996,1.997,1.998,1.999,2.000,2.001,...,2.013,2.014,2.015,2.016,2.017,2.018,2.019,2.020,2.021,Total
0,FÍSICA,0.0,24.0,181.0,1.438,1.790,1.867,3.531,2.998,3.215,...,7.917,9.645,12.368,12.071,11.722,13.804,13.495,11.906,1.340,228.134
1,Centro Oeste,0.0,0.0,2.0,52.000,18.000,27.000,92.000,19.000,11.000,...,145.000,822.000,1.209,1.004,882.000,1.120,555.000,451.000,60.000,37.715
2,Nordeste,0.0,0.0,0.0,21.000,23.000,37.000,60.000,19.000,25.000,...,104.000,250.000,481.000,320.000,396.000,603.000,524.000,318.000,56.000,10.137
3,Norte,0.0,0.0,0.0,1.000,0.000,17.000,30.000,4.000,4.000,...,20.000,63.000,128.000,84.000,80.000,111.000,75.000,61.000,9.000,2.080
4,Sudeste,0.0,0.0,31.0,503.000,974.000,1.322,1.659,1.395,1.727,...,6.616,7.305,8.952,9.309,8.782,9.875,9.794,9.207,938.000,139.386
5,Sul,0.0,24.0,148.0,861.000,775.000,464.000,1.690,1.561,1.448,...,1.032,1.205,1.598,1.354,1.582,2.095,2.547,1.869,277.000,38.816
6,JURÍDICA,2.0,19.0,69.0,732.000,1.123,1.065,1.249,1.334,1.173,...,3.469,3.507,3.385,3.067,3.354,3.734,3.989,3.598,1.831,62.080
7,Centro Oeste,1.0,1.0,7.0,37.000,39.000,53.000,67.000,75.000,56.000,...,135.000,130.000,125.000,124.000,117.000,149.000,164.000,184.000,62.000,2.642
8,Nordeste,0.0,0.0,2.0,42.000,76.000,44.000,72.000,76.000,61.000,...,208.000,212.000,213.000,200.000,227.000,277.000,282.000,270.000,174.000,4.118
9,Norte,0.0,0.0,0.0,4.000,3.000,30.000,11.000,19.000,20.000,...,53.000,71.000,50.000,56.000,49.000,74.000,73.000,75.000,40.000,1.032
10,Sudeste,1.0,15.0,44.0,443.000,789.000,742.000,812.000,870.000,749.000,...,1.792,1.786,1.757,1.611,1.744,1.808,1.912,1.773,821.000,34.461
11,Sul,0.0,3.0,16.0,206.000,216.000,196.000,287.000,294.000,287.000,...,1.281,1.308,1.240,1.076,1.217,1.426,1.558,1.296,734.000,19.827
12,Total Geral,2.0,43.0,250.0,2.170,2.913,2.932,4.780,4.332,4.388,...,11.386,13.152,15.753,15.138,15.076,17.538,17.484,15.504,3.171,290.214

In [42]:
df1.to_csv('icentivadores.csv', sep='\t', encoding='utf-8')

In [43]:
###############################################################################################################

In [68]:
#Scraping: Pontos de Cultura

In [44]:
#Importanto as bibliotecas para fazer os Scraping 
#Tabula é capaz de  ler tabelas de um PDF e convertê-las em um DataFrame do pandas. 
import  tabula
import pandas as pd

In [45]:
file = 'pontos de cultura.pdf'
dfs2 = tabula.read_pdf(file, stream=True, guess = False)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [46]:
dfs2

[   Pontos de cultura por região, uf e cidade      07/12/2021  Unnamed: 0
 0                           RESUMO Registros     Vl.Convenio         NaN
 1                             Centro Oeste 4   11.457.330,46         NaN
 2                         Distrito Federal 1    8.305.156,00         NaN
 3                                    Goiás 1    1.519.663,00         NaN
 4                              Mato Grosso 1      529.910,00         NaN
 5                       Mato Grosso do Sul 1    1.102.601,46         NaN
 6                                 Nordeste 9   40.310.481,58         NaN
 7                                  Alagoas 1    3.595.464,50         NaN
 8                                    Bahia 1   12.137.489,42         NaN
 9                                    Ceará 1    5.947.152,13         NaN
 10                                Maranhão 1    2.225.668,00         NaN
 11                                 Paraíba 1    3.029.269,45         NaN
 12                              Pernambuco 1    7.087.546,10         NaN
 13                                   Piauí 1    2.863.837,00         NaN
 14                     Rio Grande do Norte 1    2.305.857,98         NaN
 15                                 Sergipe 1    1.118.197,00         NaN
 16                                   Norte 7    6.539.326,47         NaN
 17                                    Acre 1      835.445,52         NaN
 18                                   Amapá 1      664.311,04         NaN
 19                                Amazonas 1      645.471,00         NaN
 20                                    Pará 1    2.361.211,95         NaN
 21                                Rondônia 1      877.790,96         NaN
 22                                 Roraima 1      306.096,00         NaN
 23                               Tocantins 1      849.000,00         NaN
 24                                 Sudeste 4   67.172.221,26         NaN
 25                          Espírito Santo 1    1.693.749,45         NaN
 26                            Minas Gerais 1    9.479.146,50         NaN
 27                          Rio de Janeiro 1   18.521.255,44         NaN
 28                               São Paulo 1   37.478.069,87         NaN
 29                                     Sul 3   11.595.617,31         NaN
 30                                  Paraná 1    2.638.079,61         NaN
 31                       Rio Grande do Sul 1    4.325.059,92         NaN
 32                          Santa Catarina 1    4.632.477,78         NaN
 33                           Total Geral 351  137.074.977,08         NaN
 34                                       NaN             NaN         1.0]

In [47]:
df2 = pd.DataFrame(dfs2[0])

In [48]:
df2

   Pontos de cultura por região, uf e cidade      07/12/2021  Unnamed: 0
0                           RESUMO Registros     Vl.Convenio         NaN
1                             Centro Oeste 4   11.457.330,46         NaN
2                         Distrito Federal 1    8.305.156,00         NaN
3                                    Goiás 1    1.519.663,00         NaN
4                              Mato Grosso 1      529.910,00         NaN
5                       Mato Grosso do Sul 1    1.102.601,46         NaN
6                                 Nordeste 9   40.310.481,58         NaN
7                                  Alagoas 1    3.595.464,50         NaN
8                                    Bahia 1   12.137.489,42         NaN
9                                    Ceará 1    5.947.152,13         NaN
10                                Maranhão 1    2.225.668,00         NaN
11                                 Paraíba 1    3.029.269,45         NaN
12                              Pernambuco 1    7.087.546,10         NaN
13                                   Piauí 1    2.863.837,00         NaN
14                     Rio Grande do Norte 1    2.305.857,98         NaN
15                                 Sergipe 1    1.118.197,00         NaN
16                                   Norte 7    6.539.326,47         NaN
17                                    Acre 1      835.445,52         NaN
18                                   Amapá 1      664.311,04         NaN
19                                Amazonas 1      645.471,00         NaN
20                                    Pará 1    2.361.211,95         NaN
21                                Rondônia 1      877.790,96         NaN
22                                 Roraima 1      306.096,00         NaN
23                               Tocantins 1      849.000,00         NaN
24                                 Sudeste 4   67.172.221,26         NaN
25                          Espírito Santo 1    1.693.749,45         NaN
26                            Minas Gerais 1    9.479.146,50         NaN
27                          Rio de Janeiro 1   18.521.255,44         NaN
28                               São Paulo 1   37.478.069,87         NaN
29                                     Sul 3   11.595.617,31         NaN
30                                  Paraná 1    2.638.079,61         NaN
31                       Rio Grande do Sul 1    4.325.059,92         NaN
32                          Santa Catarina 1    4.632.477,78         NaN
33                           Total Geral 351  137.074.977,08         NaN
34                                       NaN             NaN         1.0

In [72]:
new_header = df2.iloc[0] #pega a primeira linha para o cabeçalho
df2 = df2[1:] #captura os dados menos a linha do cabecalho
df2.columns = new_header #definir a linha do cabeçalho como o cabeçalho df

In [70]:
#Apartir daqui o objetivo é limpar os dados o máximo que puder ou que eu souber haha. 
#Objetivo maior será retirar o cabeçalho, colocar os valores NaN = 0 e renomear as colunas que o scraping conseguiu.
#Salvar em csv.

In [50]:
df2

0        RESUMO Registros     Vl.Convenio  NaN
1          Centro Oeste 4   11.457.330,46  NaN
2      Distrito Federal 1    8.305.156,00  NaN
3                 Goiás 1    1.519.663,00  NaN
4           Mato Grosso 1      529.910,00  NaN
5    Mato Grosso do Sul 1    1.102.601,46  NaN
6              Nordeste 9   40.310.481,58  NaN
7               Alagoas 1    3.595.464,50  NaN
8                 Bahia 1   12.137.489,42  NaN
9                 Ceará 1    5.947.152,13  NaN
10             Maranhão 1    2.225.668,00  NaN
11              Paraíba 1    3.029.269,45  NaN
12           Pernambuco 1    7.087.546,10  NaN
13                Piauí 1    2.863.837,00  NaN
14  Rio Grande do Norte 1    2.305.857,98  NaN
15              Sergipe 1    1.118.197,00  NaN
16                Norte 7    6.539.326,47  NaN
17                 Acre 1      835.445,52  NaN
18                Amapá 1      664.311,04  NaN
19             Amazonas 1      645.471,00  NaN
20                 Pará 1    2.361.211,95  NaN
21             Rondônia 1      877.790,96  NaN
22              Roraima 1      306.096,00  NaN
23            Tocantins 1      849.000,00  NaN
24              Sudeste 4   67.172.221,26  NaN
25       Espírito Santo 1    1.693.749,45  NaN
26         Minas Gerais 1    9.479.146,50  NaN
27       Rio de Janeiro 1   18.521.255,44  NaN
28            São Paulo 1   37.478.069,87  NaN
29                  Sul 3   11.595.617,31  NaN
30               Paraná 1    2.638.079,61  NaN
31    Rio Grande do Sul 1    4.325.059,92  NaN
32       Santa Catarina 1    4.632.477,78  NaN
33        Total Geral 351  137.074.977,08  NaN
34                    NaN             NaN  1.0

In [51]:
df2.isnull().sum()

0
RESUMO Registros     1
Vl.Convenio          1
NaN                 33
dtype: int64

In [52]:
df2 = df2.fillna(0)

In [53]:
df2.drop(34, axis = 0, inplace = True)

In [54]:
df2.dtypes

0
RESUMO Registros     object
Vl.Convenio          object
NaN                 float64
dtype: object

In [55]:
df2.rename(columns={'RESUMO Registros': 'Registros'}, inplace = True)

In [56]:
df2

0               Registros     Vl.Convenio  NaN
1          Centro Oeste 4   11.457.330,46  0.0
2      Distrito Federal 1    8.305.156,00  0.0
3                 Goiás 1    1.519.663,00  0.0
4           Mato Grosso 1      529.910,00  0.0
5    Mato Grosso do Sul 1    1.102.601,46  0.0
6              Nordeste 9   40.310.481,58  0.0
7               Alagoas 1    3.595.464,50  0.0
8                 Bahia 1   12.137.489,42  0.0
9                 Ceará 1    5.947.152,13  0.0
10             Maranhão 1    2.225.668,00  0.0
11              Paraíba 1    3.029.269,45  0.0
12           Pernambuco 1    7.087.546,10  0.0
13                Piauí 1    2.863.837,00  0.0
14  Rio Grande do Norte 1    2.305.857,98  0.0
15              Sergipe 1    1.118.197,00  0.0
16                Norte 7    6.539.326,47  0.0
17                 Acre 1      835.445,52  0.0
18                Amapá 1      664.311,04  0.0
19             Amazonas 1      645.471,00  0.0
20                 Pará 1    2.361.211,95  0.0
21             Rondônia 1      877.790,96  0.0
22              Roraima 1      306.096,00  0.0
23            Tocantins 1      849.000,00  0.0
24              Sudeste 4   67.172.221,26  0.0
25       Espírito Santo 1    1.693.749,45  0.0
26         Minas Gerais 1    9.479.146,50  0.0
27       Rio de Janeiro 1   18.521.255,44  0.0
28            São Paulo 1   37.478.069,87  0.0
29                  Sul 3   11.595.617,31  0.0
30               Paraná 1    2.638.079,61  0.0
31    Rio Grande do Sul 1    4.325.059,92  0.0
32       Santa Catarina 1    4.632.477,78  0.0
33        Total Geral 351  137.074.977,08  0.0

In [57]:
df2.to_csv('pdeculturas.csv', sep='\t', encoding='utf-8')

In [58]:
#################################################################################################################

In [59]:
#Scraping: Maiores Proponentes

In [60]:
#Importanto as bibliotecas para fazer os Scraping 
#Tabula é capaz de  ler tabelas de um PDF e convertê-las em um DataFrame do pandas. 
import  tabula
import pandas as pd

In [61]:
import tabula
pdf_path = "proponentes.pdf"

dfs3 = tabula.read_pdf(pdf_path, pages = 'all')

In [62]:
dfs3

[    Mecenato\rMaiores proponentes\r202108/12/2021          Unnamed: 0  \
 0                                             NaN            CNPJ/CPF
 1                                             1.0  68.314.830/0001−27
 2                                             2.0  31.241.029/0001−99
 3                                             3.0  25.145.085/0002−08
 4                                             4.0  34.697.155/0001−40
 5                                             5.0  04.393.475/0004−99
 6                                             6.0  28.805.190/0001−33
 7                                             7.0  90.367.400/0001−22
 8                                             8.0  60.991.585/0001−80
 9                                             9.0  61.914.891/0001−86
 10                                           10.0  70.945.209/0001−03
 11                                           11.0  81.907.552/0001−80
 12                                           12.0  05.695.855/0001−06
 13                                           13.0  07.495.643/0001−00
 14                                           14.0  33.659.327/0001−29
 15                                           15.0  01.891.025/0001−95
 16                                           16.0  60.756.178/0001−99
 17                                           17.0  05.422.243/0001−31
 18                                           18.0  35.397.457/0001−66
 19                                           19.0  17.643.364/0001−92
 20                                           20.0  60.664.745/0001−87
 21                                           21.0  30.024.681/0001−99
 22                                           22.0  19.727.082/0001−07
 23                                           23.0  01.546.913/0001−70
 24                                           24.0  55.446.132/0001−33
 25                                           25.0  07.224.449/0001−82
 26                                           26.0  06.333.516/0001−34
 27                                           27.0  04.784.704/0001−53
 28                                           28.0  00.491.904/0001−67
 29                                           29.0  04.393.475/0001−46
 30                                           30.0  05.629.161/0001−62

                                            Unnamed: 1     Unnamed: 2
 0                                          Proponente     Captado R$
 1       Fundação de Apoio à Universidade de São Paulo  41.503.633,89
 2   Associação Orquestra Pró Música do Rio de Janeiro  14.700.060,00
 3                                INSTITUTO JOHN DEERE  11.988.746,50
 4                              ASSOCIACAO AS TEATRAIS   9.100.000,00
 5        INSTITUTO DE DESENVOLVIMENTO E GESTÃO −\rIDG   8.281.543,00
 6                       MITRA DIOCESANA DE PETROPOLIS   8.199.106,02
 7              ASSOCIAÇÃO AMIGOS DO THEATRO SÃO PEDRO   7.743.295,02
 8                        Fundação Bienal de São Paulo   7.621.458,58
 9   Fundação Pe Anchieta Centro Paulista Rádio e T...   7.350.000,00
 10       ASSOCIACAO PRO−CULTURA E PROMOCAO DAS\rARTES   7.017.000,00
 11                                            ELYSIUM   6.900.000,00
 12  ASSOCIACAO DOS AMIGOS DO MON − MUSEU\rOSCAR NI...   6.590.741,00
 13  Fundação Orquestra Sinfônica do Estado de São ...   6.339.660,87
 14            Fundação Orquestra Sinfonica Brasileira   5.544.910,91
 15           Sustenidos Organização Social de Cultura   5.288.308,66
 16          Associação Sociedade de Cultura Artística   4.761.621,82
 17                         Instituto Cultural Inhotim   4.219.149,00
 18                                     INSTITUTO CMPC   4.204.171,22
 19                                    Instituto Pedra   4.007.301,39
 20  Museu de Arte de São PAulo Assis Chateaubriand...   3.922.680,20
 21                Associação Amigos do Museu Nacional   3.826.939,21
 22             Sintonize Produtora Cultural LTDA − ME   3.752.661,44
 23       Fundação Bienal de Artes Visuais do Mercosul   3.693.666,20
 24                SOCIEDADE DE CONCERTOS DE SÃO PAULO   3.629.698,13
 25                           Instituto Cultural Corpo   3.604.022,93
 26                     Fundação Cultural Pablo Komlos   3.485.697,68
 27  Associação de Amigos do Centro de Cultura Belo...   3.331.568,00
 28  Doutores da Alegria − Arte, Formação e\rDesenv...   3.311.729,42
 29       IDG − INSTITUTO DE DESENVOLVIMENTO E\rGESTAO   3.205.000,00
 30      Instituto para o Desenvolvimento Humano − IDH   3.190.241,12  ]

In [63]:
df3 = pd.DataFrame(dfs3[0])

In [64]:
df3

,Mecenato\rMaiores proponentes\r202108/12/2021,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,CNPJ/CPF,Proponente,Captado R$
1,1.0,68.314.830/0001−27,Fundação de Apoio à Universidade de São Paulo,"41.503.633,89"
2,2.0,31.241.029/0001−99,Associação Orquestra Pró Música do Rio de Janeiro,"14.700.060,00"
3,3.0,25.145.085/0002−08,INSTITUTO JOHN DEERE,"11.988.746,50"
4,4.0,34.697.155/0001−40,ASSOCIACAO AS TEATRAIS,"9.100.000,00"
5,5.0,04.393.475/0004−99,INSTITUTO DE DESENVOLVIMENTO E GESTÃO −\rIDG,"8.281.543,00"
6,6.0,28.805.190/0001−33,MITRA DIOCESANA DE PETROPOLIS,"8.199.106,02"
7,7.0,90.367.400/0001−22,ASSOCIAÇÃO AMIGOS DO THEATRO SÃO PEDRO,"7.743.295,02"
8,8.0,60.991.585/0001−80,Fundação Bienal de São Paulo,"7.621.458,58"
9,9.0,61.914.891/0001−86,Fundação Pe Anchieta Centro Paulista Rádio e T...,"7.350.000,00"
10,10.0,70.945.209/0001−03,ASSOCIACAO PRO−CULTURA E PROMOCAO DAS\rARTES,"7.017.000,00"
11,11.0,81.907.552/0001−80,ELYSIUM,"6.900.000,00"
12,12.0,05.695.855/0001−06,ASSOCIACAO DOS AMIGOS DO MON − MUSEU\rOSCAR NI...,"6.590.741,00"
13,13.0,07.495.643/0001−00,Fundação Orquestra Sinfônica do Estado de São ...,"6.339.660,87"
14,14.0,33.659.327/0001−29,Fundação Orquestra Sinfonica Brasileira,"5.544.910,91"
15,15.0,01.891.025/0001−95,Sustenidos Organização Social de Cultura,"5.288.308,66"
16,16.0,60.756.178/0001−99,Associação Sociedade de Cultura Artística,"4.761.621,82"
17,17.0,05.422.243/0001−31,Instituto Cultural Inhotim,"4.219.149,00"
18,18.0,35.397.457/0001−66,INSTITUTO CMPC,"4.204.171,22"
19,19.0,17.643.364/0001−92,Instituto Pedra,"4.007.301,39"
20,20.0,60.664.745/0001−87,Museu de Arte de São PAulo Assis Chateaubriand...,"3.922.680,20"
21,21.0,30.024.681/0001−99,Associação Amigos do Museu Nacional,"3.826.939,21"
22,22.0,19.727.082/0001−07,Sintonize Produtora Cultural LTDA − ME,"3.752.661,44"
23,23.0,01.546.913/0001−70,Fundação Bienal de Artes Visuais do Mercosul,"3.693.666,20"
24,24.0,55.446.132/0001−33,SOCIEDADE DE CONCERTOS DE SÃO PAULO,"3.629.698,13"
25,25.0,07.224.449/0001−82,Instituto Cultural Corpo,"3.604.022,93"
26,26.0,06.333.516/0001−34,Fundação Cultural Pablo Komlos,"3.485.697,68"
27,27.0,04.784.704/0001−53,Associação de Amigos do Centro de Cultura Belo...,"3.331.568,00"
28,28.0,00.491.904/0001−67,"Doutores da Alegria − Arte, Formação e\rDesenv...","3.311.729,42"
29,29.0,04.393.475/0001−46,IDG − INSTITUTO DE DESENVOLVIMENTO E\rGESTAO,"3.205.000,00"
30,30.0,05.629.161/0001−62,Instituto para o Desenvolvimento Humano − IDH,"3.190.241,12"

In [71]:
#Apartir daqui o objetivo é limpar os dados o máximo que puder ou que eu souber haha. 
#Objetivo maior será retirar o cabeçalho, colocar os valores NaN = 0 e renomear as colunas que o scraping conseguiu.
#Salvar em csv.

In [65]:
new_header = df3.iloc[0] #grab the first row for the header
df3 = df3[1:] #take the data less the header row
df3.columns = new_header #set the header row as the df header

In [66]:
df3

,NaN,CNPJ/CPF,Proponente,Captado R$
1,1.0,68.314.830/0001−27,Fundação de Apoio à Universidade de São Paulo,"41.503.633,89"
2,2.0,31.241.029/0001−99,Associação Orquestra Pró Música do Rio de Janeiro,"14.700.060,00"
3,3.0,25.145.085/0002−08,INSTITUTO JOHN DEERE,"11.988.746,50"
4,4.0,34.697.155/0001−40,ASSOCIACAO AS TEATRAIS,"9.100.000,00"
5,5.0,04.393.475/0004−99,INSTITUTO DE DESENVOLVIMENTO E GESTÃO −\rIDG,"8.281.543,00"
6,6.0,28.805.190/0001−33,MITRA DIOCESANA DE PETROPOLIS,"8.199.106,02"
7,7.0,90.367.400/0001−22,ASSOCIAÇÃO AMIGOS DO THEATRO SÃO PEDRO,"7.743.295,02"
8,8.0,60.991.585/0001−80,Fundação Bienal de São Paulo,"7.621.458,58"
9,9.0,61.914.891/0001−86,Fundação Pe Anchieta Centro Paulista Rádio e T...,"7.350.000,00"
10,10.0,70.945.209/0001−03,ASSOCIACAO PRO−CULTURA E PROMOCAO DAS\rARTES,"7.017.000,00"
11,11.0,81.907.552/0001−80,ELYSIUM,"6.900.000,00"
12,12.0,05.695.855/0001−06,ASSOCIACAO DOS AMIGOS DO MON − MUSEU\rOSCAR NI...,"6.590.741,00"
13,13.0,07.495.643/0001−00,Fundação Orquestra Sinfônica do Estado de São ...,"6.339.660,87"
14,14.0,33.659.327/0001−29,Fundação Orquestra Sinfonica Brasileira,"5.544.910,91"
15,15.0,01.891.025/0001−95,Sustenidos Organização Social de Cultura,"5.288.308,66"
16,16.0,60.756.178/0001−99,Associação Sociedade de Cultura Artística,"4.761.621,82"
17,17.0,05.422.243/0001−31,Instituto Cultural Inhotim,"4.219.149,00"
18,18.0,35.397.457/0001−66,INSTITUTO CMPC,"4.204.171,22"
19,19.0,17.643.364/0001−92,Instituto Pedra,"4.007.301,39"
20,20.0,60.664.745/0001−87,Museu de Arte de São PAulo Assis Chateaubriand...,"3.922.680,20"
21,21.0,30.024.681/0001−99,Associação Amigos do Museu Nacional,"3.826.939,21"
22,22.0,19.727.082/0001−07,Sintonize Produtora Cultural LTDA − ME,"3.752.661,44"
23,23.0,01.546.913/0001−70,Fundação Bienal de Artes Visuais do Mercosul,"3.693.666,20"
24,24.0,55.446.132/0001−33,SOCIEDADE DE CONCERTOS DE SÃO PAULO,"3.629.698,13"
25,25.0,07.224.449/0001−82,Instituto Cultural Corpo,"3.604.022,93"
26,26.0,06.333.516/0001−34,Fundação Cultural Pablo Komlos,"3.485.697,68"
27,27.0,04.784.704/0001−53,Associação de Amigos do Centro de Cultura Belo...,"3.331.568,00"
28,28.0,00.491.904/0001−67,"Doutores da Alegria − Arte, Formação e\rDesenv...","3.311.729,42"
29,29.0,04.393.475/0001−46,IDG − INSTITUTO DE DESENVOLVIMENTO E\rGESTAO,"3.205.000,00"
30,30.0,05.629.161/0001−62,Instituto para o Desenvolvimento Humano − IDH,"3.190.241,12"

In [67]:
df3.to_csv('maioresprop.csv',  sep='\t', encoding='utf-8')

In [ ]:
#Apartir daqui o objetivo é limpar os dados o máximo que puder ou que eu souber haha. 
#Objetivo maior será retirar o cabeçalho, colocar os valores NaN = 0 e renomear as colunas que o scraping conseguiu.
#Salvar em csv.